body {
  margin: 50px 50px;
  font-family: 'Varela Round', sans-serif;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: #75c378;
}

button:active {
  vertical-align: top;
  padding: 14px 20px;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
}

h2 {
  align-self: flex-start;
}

h3 {
  margin: 10px 10px;
}
