body {
  border: 1px solid #000;
  margin: 0;
  background-image: url(/images/desktop-background.jpg);
  background-position: ;
 
  
}

header {
  border: 1px solid #000;
  display: flex;
  height: 80px;
}

a {
  text-decoration: none;
}

h1 {
  color: #fff;
  font-family: Arial, sans-serif, sans-serif;
  font-variant-caps: small-caps;
  font-weight: 100;
  font-size: 16px;
}

h2 {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 64px;
}

h3 {
  color: #fff;
  font-family: Arial, sans-serif, sans-serif;
  font-weight: 600;
  font-size: 18px;
}


.navigation {
  border: 1px solid #000;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.section-1 {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  background-position: right 0px top 0px;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-description {
width: 45%;
}

.carousel {
display: flex;
align-items: center;
  border: 1px solid #000;
  width: 45%;
  
}

.menu {
  width: 30%;
  
}

.menu-items {
  display: flex;
  border: 1px solid #000;
  justify-content: space-around;
  
}

li {
  list-style: none;
}

#slideset2 {
  background-color: #fff;
  width: 80%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

#slideset2 > * {
  position: absolute;
  top: 100%;
  left: 0;
  animation: 12s autoplay2 infinite ease-in-out;
}

@keyframes autoplay2 {
  0% {top: 100%}
  4% {top: 0%}
  33.33% {top: 0%}
  37.33% {top: -100%}
  100% {top: -100%}
}

#slideset2 > *:nth-child(1) {animation-delay: 0s}
#slideset2 > *:nth-child(2) {animation-delay: 4s}
#slideset2 > *:nth-child(3) {animation-delay: 8s}

.section-2 {
  border: 1px solid #000;
}

.section-3 {
  border: 1px solid #000;
}

.section-4 {
  border: 1px solid #000;
}

.section-5 {
  border: 1px solid #000;
}

.section-6 {
  border: 1px solid #000;
}

footer {
  border: 1px solid #000;
}
