body {
  font-family: 'Lucida Sans';
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #43476d;
  opacity: ;
  height: 20px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  padding-top: 28px;
}
.slogan {
  background-image: url(/homework/CSS_HW-1/images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 380px;
  margin: 0;
  padding-top: 95px;
  text-align: center;
  font-size: 30px;
}

.top-skills {
  margin: 0;
  padding: 0px 0px 10px 0px;
  text-align: center;
  font-size: 30px;
}

.top {
  background-color: #4e58b6e1;
}
.skills {
  height: 200px;
  margin: 10px;
  padding: right 500px;
  text-align: center;
  font-size: 30px;
  /* width: 20%; */
  margin: 0 auto;
  text-align: left;
}

.top-skills-2 {
  display: flex;
  margin-left: 100px;
  text-align: center;
  font-size: 30px;
}

.description-2 {
  font-style: italic;
}

h1  {
  margin: 0;
  padding: 0;
  
}

.experience {
  background-color: #46a39be1;
  padding: 0px 0px 10px 0px;
}

.experience-item {
  margin: 10px;
  padding: 5px 0px 5px 0px;
  background-color: #ecde12e1;
  border-radius: 20px;
}

.exp-text {
  padding: 5px 10px 5px 45px;
}