body {
  margin: 25px 25px;
  font-family: Lato;
  /* background-color: #A4A9A7; */
  background-image: url(/images/190807ffbc0d2b3cde377203744498b3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-size: 80%; */
}

.navigation {
  display: flex;
  justify-content: center;
  /* position: fixed; */

}

.menu {
  width: 100%;

}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 20px;
  justify-items: stretch;
}

.box {
  border-radius: 8px;
  width: 100%;
  height: 40vh;
  background-color: #826F66;
  opacity: 0.9;
  background-image: ;
}

.content>.big {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  height: 85vh;
  /* background-color: #BADBCA; */
  font-family: Lato;
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
  display: flex;
  align-items: center;
  
}

.big-text {
  margin: 20px 35px;
}

.content>.medium {
  /* background-color: ##BADBCA; */
  grid-column: 1 / 5;
  display: flex;

}

button {
  background-color: #826F66;
  opacity: 0.8;
  font-family: Lato;
  border: none;
  color: rgb(151, 2, 2);
  font-weight: 1000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  width: 100%;
  border-radius: 7px;
}

.side-1-button>button {
  background-color: #826F66;
  font-family: Lato;
  border: none;
  color: rgb(151, 2, 2);
  font-weight: 1000;
  padding: 15px 32px;
  text-align: center;
  font-size: 25px;
  width: 100%;
  border-radius: 7px;
}

.side-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  background-image: url(/images/This\ item\ is\ unavailable\ _\ Etsy.jpg);
  background-position: center;
  background-size: cover;
  background-color: #BADBCA;
  opacity: 1;
}

.side-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  background-image: url(/images/ferbas-golf-mk2.jpeg);
  background-position: center;
  background-size: cover;
  background-color: #BADBCA;
  opacity: 1;
}

.medium-bg {
  /* border: 1px solid #000; */
  width: 50%;
  background-image: url(/images/dbmn5e-855a4c8d-a676-493e-93f5-62113ceb9b9c.png);
 
}

.medium {
  background-color: #826F66;
  opacity: 1;
}
.medium-text {
  font-family: Lato;
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
  width: 50%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.medium-content {
  display: flex;
  align-items: center;
  margin: 20px 35px;
}

.lytics1 {
  background-color: #826F66;
  background-image: url(/images/volkswagen_golf-ii__342978025f.webp);
  background-position: center;
  background-size: cover;
  opacity: 1;
}



.lytics2 {
  background-color: #826F66;
  background-image: url(/images/volkswagen_golf-ii__342978025f.webp);
  background-position: center;
  background-size: cover;
  opacity: 1;
}

.lytics3 {
  background-color: #826F66;
  background-image: url(/images/volkswagen_golf-ii__342978025f.webp);
  background-position: center;
  background-size: cover;
  opacity: 1;
}

.lytics4 {
  background-color: #826F66;
  background-image: url(/images/volkswagen_golf-ii__342978025f.webp);
  background-position: center;
  background-size: cover;
  opacity: 1;
}

.gallery {
  background-color: #826F66;
  background-image: url(/images/3795464.jpg);
  background-position: center;
  background-size: cover;
  opacity: 1;
}