body {
  margin: 50px 50px;
}

input {
  margin: 5px 10px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: #75c378;
}

button:active {
  vertical-align: top;
  padding: 14px 2px;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
}

h2 {
  align-self: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks {
  display: flex;
flex-direction: column;
align-items: center;
}

.task-button {
  width: 40%;
  margin: 20px 20px; 
}

.task-input {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}