.one .nav {
  height: 50px;
  border-top: 1px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  margin: 0% 30%;
  width: 650px;
  margin-bottom: 0px;
  padding: 0px 20px;
  background-color: orange;
}

.two .nav {
  height: 50px;
  border-top: 1px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  margin: 0% 30%;
  width: 700px;
  margin-bottom: 0px;
  padding: 0px 20px;
  background-color: orange;
}

.nav {
  height: 50px;
  border-top: 1px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  margin: 0% 30%;
  width: 800px;
  margin-bottom: 0px;
  padding: 0px 20px;
  background-color: orange;
}

.one .block {
  border: 1px solid #707070;
  margin: 0% 30%;
  width: 650px;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.two .block {
  border: 1px solid #707070;
  margin: 0% 30%;
  width: 700px;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.three .block {
  border: 1px solid #707070;
  margin: 0% 30%;
  width: 700px;
  margin-bottom: 20px;
  padding: 0px 20px;
  text-align: center;
}

.four .block {
  border-radius: 45px;
  border: 1px solid #707070;
  margin: 0% 30%;
  width: 600px;
  margin-bottom: 20px;
  padding: 0px 20px;
  /* text-align: center; */
}

.five .block {
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  margin: 0% 30%;
  width: 800px;
  margin-bottom: 20px;
  padding: 0px 20px;
  text-align: center;
}

.navigation {
  text-decoration: none;
  color: #fff;
  font: bold 13px Arial;
  line-height: 50px;
  padding: 0px 20px;
}

.five .section-title {
  padding: 20px 20px;
  margin-top: 0px;
  color: orange;
}

.five .text {
  color: orange;
}
.one .section-title {
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.two .section-title {
  margin: 20px 0px 0px 14px;
  padding: 0px;
}

.three .section-title {
  margin: 20px 0px 0px 14px;
  padding: 0px;
  }

.one .top-link {
  color: blue;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}
#bottom a:hover {
  background-color: #E7458D;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

.three .bottom-link {
  color: #E7458D;
  text-decoration: none;
  text-align: right;
  margin: 0px;
  padding: 0px 0px 30px 0px;
  
}

.bottom {
  text-align: right;
  margin: 0px;
  padding: 0px 0px 15px 0px;
}

.one .content {
  text-align: justify;
  text-justify: auto;
}

.two .content {
  font-family: Arial;
}

.three .content {
  text-indent: 50px;
  font-family: Arial;
}

.one .text {
  margin-top: 10px;
  padding: 0px;
}

.two .text {
  margin: 10px;
  padding: 5px;
  font-size: 13px;
  line-height: 30px;
}

.three .text {
  margin: 5px;
  padding: 5px;
  font-size: 13px;
  line-height: 30px;
}

.one .first {
  background-image: url(/CSS_HW-2/images/image1.jpg);
}

.one .second {
  background-image: url(/CSS_HW-2/images/image2.jpg);
}

.one .third {
  background-image: url(/CSS_HW-2/images/image3.jpg);
}

img {
  float: left;
  margin: 0px 10px 0px 0px;
  /* padding-top: 10px; */
  border: 1px solid #707070;
}

.three .big-link {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  color: #E7458D;
}

.red  {
  color: red;
}

.green  {
  color: green;
}


