body {
  margin: 50px 50px;
  font-family: 'Varela Round', sans-serif;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 30%;
  border-radius: 5px;
  margin-left: 15px;
}
button:hover {
  background-color: #75c378;
}

button:active {
  vertical-align: top;
  padding: 14px 20px;
}

.buttons {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 30%;
  height: 4vh;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 10px;
}


.countdown {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
height: 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 30%;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 0;
}
.buttons:hover {
  background-color: #75c378;
}

.buttons:active {
  vertical-align: top;
  padding: 14px 20px;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 10px 10px;
}

input {
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 75%;
}

.hero-container {
  display: flex;
  flex-direction: column;
}
.stats {
  display: flex;
}

.game-container {
  display: flex;
  flex-direction: column;
align-items: center;
}


.buttons {
  width: 50%;
}

.game-heroes {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-top: 20px;
}

.heal-countdown {
  display: none;
  padding: 15px 5px;
  width: 60%;

} 

.buttons-container {
  display: flex;
  flex-direction: row;
}