body {
  margin: 50px 50px;
  font-family: 'Varela Round', sans-serif;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 30%;
  border-radius: 5px;
  margin-left: 15px;
}

button:hover {
  background-color: #75c378;
}

button:active {
  vertical-align: top;
  padding: 14px 20px;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 10px 10px;
}

input {
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 75%;
}

i {
  margin-left: 5px;
  width: 5%;
}

.main-title {
  display: flex;
  justify-content: center;
}
.todolist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.input {
  display: flex;
  margin-top: 15px;
  height: 50px;
  width: 54%;
}

.result-container {
  margin-top: 20px;
  width: 54%;
}


.item-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  margin: auto;
  width: 100%
}

.result-container > div > h2 {
  font-size: 15px;
  padding-left: 5px;
  margin: 0;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.item-text {
  width: 80%;
}