body {
  background-color: #f0f2f5;

}

h1 {
  color: #1877f2;
}

h2 {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  margin: 0;
}

h3 {
  background-color: #fff;
  padding: 20px 30px;
  margin: 0 auto;
}

h4 {
  color: #606770;
  font-family: Helvetica;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 73%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 150vh;

}

.login {
  background-color: #fff;
  border: 1px solid #000;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  border-radius: 15px;
  min-width: 400px;
}

input {
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
}

.enter>button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 96px;
  width: 332px;
  color: #fff;
}

.enter {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 29%;
  height: %;
  border: 1px solid #000;
  border-radius: 5px;
}

img {
  width: 100%;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.plus-container {
  display: flex;
  align-self: center;
  height: 30%;
  background-color: #f5f6f7;
}

.card-name {
  margin: 0 auto;
}

.plus>button {
  background-color: #1877f2;
  border: none;
  border-radius: 50px;
  line-height: 55px;
  padding: 0 20px;
  color: #fff;
  font-size: 30px;
}

.newacc>button {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 46px;
  background-color: #42b72a;
  color: #fff;
}

.forgot {
  display: flex;
  justify-content: center;
  width: 85%;
  border-bottom: 1px solid #000;
}

.forgot>.forg-passw {
  font-size: 18px;
}

.sign-up {
  background-color: #fff;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  border-radius: 8px;
  min-width: 432px;
}

.content-form {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.names {
  display: flex;
  width: 35%;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
}

.identifier {
  width: 82%;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
}

.password {
  display: flex;
  justify-content: center;
  width: 82%;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.date {
  width: 27%;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  height: 45px;
  font-size: 15px;
  text-align: center;
}

.radio-item {
  display: flex;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 25%;
}

.radio {
  display: flex;
  align-items: center;
  width: 27%;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  height: 45px;
  font-size: 15px;
  text-align: center;
  flex-shrink: 0;
}

.bot-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin: 0;
}

.newacc {
  margin: 5px;
}

.create {
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fast {
  font-size: 20px;
}