body {

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding-top: 0;
}

a {
  text-decoration: none;
}

button {
  background: #01996D;
  border: none;
  color: #ffff;
  font-weight: 400;
  font-size: 20px;
  padding: 15px 32px;
  border-radius: 5px;
}

h1 {
  margin-top: 0px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.middle {
  justify-content: space-between;
}

.middle>a {
  margin: 0px 25px;
  color: #292929;
}

.right {
  display: flex;
  justify-content: space-around;
}

.right>a {
  text-decoration: none;
  color: #292929;
}

.right {
  display: flex;
  align-items: center;
}

.one {
  display: flex;
  align-items: center;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  width: 75%;
  height: 80%;
}

.slogan {
  display: flex;
  width: 30%;
  align-items: center;
  font-family: Georgia;
  font-size: 65px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0em;
  color: #01996D;
}

.works>.slogan {
  margin-top: 0;
  width: 20%px;
}

.section {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.one {
  background-image: url(/homework/CSS_HW-4/images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 986px;
  display: flex;
  flex-direction: column;
}

.two {
  height: 1200px;
  display: flex;
  flex-direction: column;
}

.lowtitle {
  display: flex;
  justify-content: center;
  width: 30%;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 500px;
  /* border: 1px solid #000; */
  align-items: flex-start;
}

.first,
.short-message,
.card-description,
.image {
  display: flex;
  width: 70%;
  justify-content: center;
}

.personalize,
.alivio {
  height: 30%;
}

.write {
  align-self: flex-end;
}

.big-number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
  margin: 0;
  padding: 0;
  height: 160px;
}

.card-description {
  width: 80%;
}

.short-message-pers {
  position: absolute;
  top: 1415px;
  left: 370px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}

.short-message-write {
  position: absolute;
  top: 1600px;
  left: 870px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}

.short-message-alivio {
  position: absolute;
  top: 1415px;
  left: 1420px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}

.card-image {
  width: 390px;
  height: 492px;
  left: 275px;
  top: 1840px;
  background: #C4C4C4;
  border-radius: 12px;
}

.works {
  display: flex;
  width: 43%;
}

.message {
  display: flex;
  flex-wrap: wrap;
  width: 34%;
  height: 60%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.wording {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video {
  width: 40%;
}

.slogan-white {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  /* or 79px */


  color: #FFFFFF;
}

.three-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #245852;
  margin-top: 25px;
  height: 100vh;
}

.slogan-text {
  margin: 0px 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;

  color: #484848;
}

.slogan-text-three {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #FFFFFF;
}

.four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh;
}

.product-left {
  display: flex;
  width: 35%;
}

.four-right {
  width: 35%;
}

.girl-section {
  width: 638.46px;
  height: 573.26px;
  left: 335.68px;
  top: 3629px;

  background: rgba(1, 153, 109, 0.2);
  border-radius: 18.1125px;
}

.corner-card {
  position: absolute;
  width: 296.14px;
  height: 293.9px;
  left: 245px;
  top: 3900px;
  background: #FFFFFF;
  border-radius: 3.72971px;
  box-shadow: 6px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

.underline {
  border-bottom: 1px solid #727272;
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>.section {

  height: 400px;
  background-color: #245852;
}

.footer-logo {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #FFFFFF;
}

.footer-links {
  display: block;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}