body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
}

li {
  width: 10%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#clickable {
  cursor: pointer;
}

footer {
  margin: 40px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 83px;
  color: #156963;
  width: 80%;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #2c1500;
  opacity: 0.8;
}

h5 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

button:hover {
  cursor: pointer;
}

.top {
  display: flex;
  height: 100vh;
  display: flex;
}

.top-left {
  background-image: url(/images/flower.png);
  background-position: center;
  background-size: cover;
  width: 45%;
}

.logo {
  margin: 40px 50px;
  height: 42px;
}

.top-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-right-navigation {
  height: 42px;
  margin: 40px 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
}

.top-right-text-description {
  width: 73%;
  align-self: flex-start;
}

.top-right-arrows {
  display: flex;
  justify-content: center;
}

.arrow-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-left: 5px;
  margin-right: 5px;
}

.plant-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #156963;
}
.sign-up {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #156963;
}

.green {
  background: #156963;
}

.white {
  color: #ffffff;
}
.sign-in {
  width: 20%;
  width: 111px;
  height: 36px;
}
.sign-in-link > button {
  padding: 8px 20px;
  background: #156963;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.previous {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.arrow-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.next-plant {
  display: flex;
  width: 60%;
}

.previous-plant {
  display: flex;
  width: 60%;
  height: 40%;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 20px;
  justify-items: stretch;
  height: 50vh;
  align-items: center;
  margin: 0px 50px;
}

.benefits-card {
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.benefits-card-top {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.benefits-card-top > img {
  height: 40px;
  width: 40px;
}

.benefits-card-top-title {
  width: 25%;
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #156963;
}

.benefits-card-top-title-long {
  width: 48%;
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #156963;
}

.benefits-card-description {
  align-self: center;
  width: 80%;
  padding: 0px 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #2c1500;
}

.featured-plants {
  margin: 0px 50px; 
}
.featured-plants-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.featured-plants-top-title {
  margin-top: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.featured-plants-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 20px;
}

.plant-name-price > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  
}

.plant-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
 
}

.featured-plant-card {
  cursor: pointer;
}

.plant-card {
  display: flex;
  justify-content: center;
  background-color: #f3f4f6;
}

.plant-name-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buy-more {
  margin: 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 106vh;
}

.buy-more-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 56px;
  color: #2c1500;
  width: 100%;
  line-height: 80px;
}

.buy-more-description {
  width: 90%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  /* kq/black */

  color: #2c1500;

  opacity: 0.8;
}

.buy-more-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buy-more-image {
  background-image: url(/images/stand.png);
  height: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: flex-start;
  width: 100%;
}

.buy-more-right-container {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}
.buy-more-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* height: 100px; */
  background-image: url(/images/wall.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.get-your {
  margin: 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f3f4f6;
}

.get-your-left {
  width: 45%;
}

.get-your-left > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #2c1500;
}

.get-your-left-button {
  width: 152px;
  height: 40px;
  padding: 8px 20px;
  background: #156963;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.get-your-right {
  width: 30%;
}

.footer-info {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-company-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #156963;
  padding-top: 50px;
  height: 30%;
  cursor: pointer;
}
.perusahaan {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.produk {
  width: 15%;
}

.footer-email {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-address {
  width: 45%;
  margin: 0;
}

.footer-section-title {
  cursor: pointer;
}

.footer-section-item {
  margin: 5px 0px;
  cursor: pointer;
}

.footer-email-submit {
  width: 27px;
  height: 14px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 14px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  width: 51px;
  height: 22px;
  background: #156963;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.footer-email-input {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin-bottom: 10px;
}

::placeholder {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
}
