@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 50px;
    line-height: 45px;
  }
  .top-right-navigation {
    justify-content: space-evenly;
    align-items: center;
  }

  .benefits {
    margin-top: 10px;
  }

  .buy-more-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
    line-height: 45px;
  }

  h3 {
    font-size: 14px;
  }
  .top-right-navigation {
    justify-content: space-evenly;
    align-items: center;
  }

  .benefits {
    margin-top: 20px;
  }

  .buy-more-title {
    font-size: 25px;
  }

  .benefits-card-top-title-long {
    width: 100%;

    font-size: 14px;
  }

  .benefits-card-top-title {
    font-size: 14px;
  }

  .featured-plants-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .buy-more {
    margin: 10px 50px;
    height: 75vh;
  }

  .buy-more-title {
    font-size: 18px;

    line-height: 30px;
  }

  .buy-more-description {
    width: 90%;
    line-height: 8px;
  }

  .buy-more-left {
    width: 50%;

    justify-content: space-between;
  }

  .buy-more-right {
    background-position: center;
  }
  height: 100%;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h3 {
    font-size: 12px;
  }

  footer {
    margin: 40px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .top-right-navigation {
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }

  .top-right-arrows {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .arrow-text {
    color: #ffffff;
  }

  .sign-up-container {
    width: 20%;
  }

  .plant-text {
    font-size: 20px;
  }

  .benefits {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }

  .buy-more-title {
    font-size: 25px;
  }

  .benefits-card-top-title-long {
    width: 60%;
    font-size: 14px;
  }

  .benefits-card-top-title {
    font-size: 14px;
  }

  .featured-plants {
    margin-top: 150px 5px;
  }
  .featured-plants-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .buy-more {
    margin: 10px 50px;
    height: 30vh;
  }

  .buy-more-title {
    font-size: 12px;

    line-height: 30px;
    text-align: center;
  }

  .buy-more-image {
    display: none;
  }
  .buy-more-description {
    width: 90%;
    line-height: 1px;
    font-size: 8px;
    text-align: center;
  }

  .buy-more-left {
    width: 100%;
    height: 30vh;
    justify-content: center;
    justify-content: space-between;
  }

  .buy-more-right-container {
    display: none;
  }

  .get-your-right {
    display: none;
  }

  .get-your-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    text-align: center;
  }

  .get-your-left-title {
    width: 80%;
    align-self: center;
    margin-top: 0;
  }

  .get-your-left-button {
    margin-bottom: 20px;
  }

  .footer-info {
    width: 35%;
  }

  .footer-address {
    width: 90%;
    margin: 0;
  }

  .footer-company-name {
    padding-top: 0px;
  }
  .produk {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h3 {
    font-size: 12px;
  }

  footer {
    margin: 40px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .top-right-navigation {
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }
.top-right {
  width: 100%;
}
  .top-right-arrows {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .top-left {
    display: none;
  }
  .arrow-text {
    color: #ffffff;
  }

  .sign-up-container {
    width: 20%;
  }

  .plant-text {
    font-size: 20px;
  }

  .benefits {
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }

  .buy-more-title {
    font-size: 25px;
  }

  .benefits-card-top-title-long {
    width: 70%;
    font-size: 14px;
  }

  .benefits-card-top-title {
    font-size: 14px;
  }

  .benefits-card-description{
    display: none;
  }
  .featured-plants {
    /* margin-top: 250px 5px; */
  }
  .featured-plants-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .buy-more {
    margin: 10px 80px;
    height: 10vh;
  }

  .buy-more-title {
    font-size: 12px;

    line-height: 30px;
    text-align: center;
  }

  .buy-more-image {
    display: none;
  }
  .buy-more-description {
    display: none;
  }

  .buy-more-right-container {
    display: none;
  }

  .get-your-right {
    display: none;
  }

  .get-your-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    text-align: center;
  }

  .get-your-left-title {
    width: 80%;
    align-self: center;
    margin-top: 0;
  }

  .get-your-left-button {
    margin-bottom: 20px;
  }

  .footer-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .footer-address {
    width: 90%;
    margin: 0;
    font-size: 16px;
  }

  .footer-company-name {
width: 50%;
font-size: 50px;
margin-bottom: 20px;
  }
  .produk {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-email {
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .perusahaan, .produk {
    width: 40%;
    align-self: center;
  }

  .footer-section-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer-section-item {
    font-size: 25px;
  }

  .footer-email-submit {
   
    font-size: 22px;
    line-height: 14px;
    text-align: center;
    
    width: 50%;
    height: 40px;
    align-self: center;
  }
  
  .footer-email-input {
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
  }
}
