body, html {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

.content {
  padding: 20px 50px; 
  font-family: "Sofia", sans-serif;
  font-size: 25px;
  color: gold;
}
header {
  height: 60px;
  background-color: rgb(128, 17, 17);
  padding: 0;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.parallax-one {
  background-image: url("/homework/CSS_HW-3/images/1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-two {
  background-image: url("/homework/CSS_HW-3/images/2.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-three {
  background-image: url("/homework/CSS_HW-3/images/3.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-four {
  background-image: url("/homework/CSS_HW-3/images/4.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-parallax {
  height: 600px;
  background-color: rgb(105, 20, 20);
  background-size: cover;
}

.sticky {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -100px;
  bottom: 25px;
  width: 210px;
  z-index: 1100;
}

li {
  display: inline;
  padding: 8px;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  overflow: hidden;
  text-align: center;
}

.menu > .gallery {
  float: right;
  padding-top: 0;
  padding-right: 50px;
}

.menu > .main {
  float: left;
  padding-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top 20px;
  }

  a {
    text-decoration: none;
    color: gold;
  }